@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.hero-container {
  background-image: linear-gradient(
    to left,
    rgba(61, 103, 113, 0.75) 17%,
    rgba(41, 21, 41, 0.86) 100%
  );
}
.hero-left-text {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000db;
}
.hero-left-text2 {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.5em;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #ffc83d;
  text-shadow: 1px 1px 5px #000000db;
}
.hero-left-text3 {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.3em;
  font-weight: 300;
  font-style: normal;
  line-height: -100px;
  font-variation-settings: "slnt" 0;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000db;
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(2deg);
  } 
  10% {
    transform: rotate(4deg);
  } 
  15% {
    transform: rotate(6deg);
  } 
  20% {
    transform: rotate(8deg);
  } 
  25% {
    transform: rotate(10deg);
  } 
  30% {
    transform: rotate(8deg);
  } 
  35% {
    transform: rotate(6deg);
  } 
  40% {
    transform: rotate(4deg);
  } 
  45% {
    transform: rotate(2deg);
  } 
  50% {
    transform: rotate(0deg);
  } 
  55% {
    transform: rotate(-2deg);
  } 
  60% {
    transform: rotate(-4deg);
  } 
  65% {
    transform: rotate(-6deg);
  } 
  70% {
    transform: rotate(-8deg);
  } 
  75% {
    transform: rotate(-10deg);
  } 
  80% {
    transform: rotate(-8deg);
  } 
  85% {
    transform: rotate(-6deg);
  } 
  90% {
    transform: rotate(-4deg);
  } 
  95% {
    transform: rotate(-2deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

.carousel__container {
  white-space: nowrap;
  display: inline-block;
}

.carousel-item {
  width: 400px;
  height: 450px;
  border-radius: 10px 100px 10px 100px;
  background-color: #95bcd62f;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transform-origin: center left;
  -webkit-transform-origin: center left;
  transition: 1000ms all;
  -webkit-transition: 1000ms all;
  -moz-transition: 1000ms all;
  -ms-transition: 1000ms all;
  -o-transition: 1000ms all;
  -webkit-border-radius: 10px 100px 10px 100px;
  -moz-border-radius: 10px 100px 10px 100px;
  -ms-border-radius: 10px 100px 10px 100px;
  -o-border-radius: 10px 100px 10px 100px;
}

/* .carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  -ms-transform: translate3d(100px, 0, 0);
  -o-transform: translate3d(100px, 0, 0);
} */

/* .carousel__container:hover .carousel-item {
  opacity: 0.3;
} */

.carousel__container:hover .carousel-item:hover {
  opacity: 1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.carousel-item__img {
  width: 400px;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: (
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1500ms opacity;
  -webkit-transition: 1500ms opacity;
  -moz-transition: 1500ms opacity;
  -ms-transition: 1500ms opacity;
  -o-transition: 1500ms opacity;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  font-size: 1.5rem;
  color: #ffc83d;
  padding-top: 300px;
  padding-left: 20px;
}

.carousel-item__details--subtitle {
  color: #fff;
  margin: 5px 0 5px 20px;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.btn {
  position: relative;
  letter-spacing: 0.25em;
  font-weight: 500;
  /* margin: 0 auto; */
  padding: 5px 10px;
  outline: none;
  /* font-size: 1em; */
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to left,
    rgb(146 234 255 / 75%) 17%,
    rgb(249 145 251 / 86%) 100%
  );

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    transform: skewX(30deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
  }
  &::before {
    background-image: linear-gradient(
    to left,
    rgb(146 234 255 / 75%) 17%,
    rgb(249 145 251 / 86%) 100%
  );
    top: -1rem;
    left: 0rem;
  }
  &::after {
background-image: linear-gradient(
    to right,
    rgb(146 234 255 / 75%) 17%,
    rgb(249 145 251 / 86%) 100%
  );    top: 1rem;
    left: 4rem;
  }
  &:hover {
    &::before,
    &::after {
      top: 0;
      transform: skewx(0deg);
    }
    &::after {
      left: 0rem;
    }
    &::before {
      left: 2.75rem;
    }
  }
}


@media only screen and (max-width: 992px) {
  .carousel-item {
    width: 300px;
    height: 350px;
    margin: 0%;
    padding: 0%;
  }
  .carousel-item__img {
    width: 300px;
    height: 350px;
    margin: 0%;
    padding: 0%;
  }
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}
.carousel-item__details span {
  font-size: 1.3rem;
  color: #ffc83d;
  padding-top: 200px;
  padding-left: 20px;
}
}
