* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: gold solid 1px; */
}
nav {
  background-image: linear-gradient(
    to left,
    rgb(146 234 255 / 75%) 17%,
    rgb(249 145 251 / 86%) 100%
  );
}
#logo span:hover {
  text-shadow: -2px -9px 2px rgba(146, 234, 255, 0.75);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
} 


#logo {
  color: #000000;
  font-size: 1em;
  /* font-family: "Protest Revolution", sans-serif; */
  font-weight: 700;font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
#logo span {
  animation: animate 10s linear infinite;
  -webkit-animation: animate 10s linear infinite;
}
#logo span:nth-child(1) {
  animation-delay: 1s;
}
#logo span:nth-child(2) {
  animation-delay: 1.5s;
}
#logo span:nth-child(3) {
  animation-delay: 2s;
}
#logo span:nth-child(4) {
  animation-delay: 2.5s;
}
#logo span:nth-child(5) {
  animation-delay: 3s;
}
#logo span:nth-child(6) {
  animation-delay: 3.5s;
}
#logo span:nth-child(7) {
  animation-delay: 4s;
}
#logo span:nth-child(8) {
  animation-delay: 4.5s;
}
#logo span:nth-child(9) {
  animation-delay: 5s;
}
#logo span:nth-child(10),
#logo span:nth-child(11),
#logo span:nth-child(12),
#logo span:nth-child(13),
#logo span:nth-child(14) {
  animation-delay: 5.5s;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.social a :hover {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transition: 0.7s ease-out;
  -webkit-transition: 0.7s ease-out;
  -moz-transition: 0.7s ease-out;
  -ms-transition: 0.7s ease-out;
  -o-transition: 0.7s ease-out;
}
@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(50px);
    -webkit-filter: blur(50px);
  }
  5%,
  95% {
    color: #000000;
    filter: blur(0px);
  }
}

.nav-ul {
  display: flex;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.active {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transform: rotate(-5deg) skewX(15deg) translate(0, 0);
}
.nav-ul li {
  list-style: none;
  /* margin:10px; */
}
.nav-ul li a .fa {
  font-size: 15px;
  color: #333;
  transition: 0.5s;
  padding: 0 5px;
}
.nav-ul li a span {
  position: absolute;
  padding: 0 5px 0 0px;
  color: #333;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nav-ul li a {
  text-decoration: none;
  display: block;
  width: 90px;
  transition: 0.5s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav-ul li a:hover {
  background-color: #00000014 !important;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transform: rotate(-5deg) skewX(15deg) translate(0, 0);
  -webkit-transform: rotate(-5deg) skewX(15deg) translate(0, 0);
  -moz-transform: rotate(-5deg) skewX(15deg) translate(0, 0);
  -ms-transform: rotate(-5deg) skewX(15deg) translate(0, 0);
  -o-transform: rotate(-5deg) skewX(15deg) translate(0, 0);
}
.nav-ul li:hover .fa {
  color: #fff;
  text-shadow: 1px 1px 2px #f991fb;
}
.nav-ul li:hover span {
  color: #fff;
  text-shadow: 1px 1px 2px #f991fb;
}
.nav-ul li:hover a {
  background: #362a2a;
}

/* @media only screen and (max-width: 992px) {
  body {
    background-color: lightblue;
  }
} */
